<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/
bootstrap.min.js"></script>
<title>answer_form</title>
<style type="text/css">
	h1 { font-size: 2.00rem; }

@media (min-width: 320px) {
  h1 { font-size: /* 『魔法の値』 from 1.25rem to 2.5rem */; }
}

@media (min-width: 960px) {
  h1 { font-size: 2.5rem; }
}
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-84261059-5');
</script>

</head>
<body>
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	<div class="panel panel-default">
	<div class="panel-heading">

	<h1><b>ありがとうございました</b></h1>
	<br>
	<p>この結果を参考にさせていただきます。</p>
	<a class="btn btn-primary" href="/" role="button">他の回答をする</a>
	</div>
	</div>
	</div>
	</div>
<div class="link"  align="right">
<a href="/answers">一覧</a>
</div>
</body>
</html>